In [1]:
#add(): To add one item to a set

In [2]:
st = {"grapes","apple", "banana", }

st.add("orange")

print(st)

{'grapes', 'apple', 'banana', 'orange'}

In [3]:
#update(): To add more than one item to a set

In [5]:
st = {"grapes","apple", "banana", }

st.update(["mango","jackfruit"])

print(st)

{'apple', 'mango', 'banana', 'grapes', 'jackfruit'}

In [6]:
#len():To determine how many items a set

In [7]:
print(len(st))

5

In [8]:
#remove(): To remove an item in a set

In [9]:
st.remove("jackfruit")
print(st)

{'apple', 'mango', 'banana', 'grapes'}

In [10]:
#discard(): to remove an aitem in a set

In [11]:
st.discard("grapes")
print(st)

{'apple', 'mango', 'banana'}

In [12]:
#pop() :Remove the last item

In [13]:
st.pop()
print(st)

{'mango', 'banana'}

In [14]:
#clear(): empties the set

In [15]:
st.clear()
print(st)

set()

In [16]:
#union():returns a new set with all items from both sets

In [17]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'a', 3, 'c', 'b'}

In [18]:
#update() :inserts the items in set2 into set1

In [19]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'a', 3, 'c', 'b'}

In [20]:
#difference() :returns a set that contains the difference between two sets

In [22]:
set1 = {1,4,9,16}
set2 = {1, 2, 3}

set3 =set1.difference(set2)
print(set3)

{16, 9, 4}

In [23]:
#difference_update(): Remove the items that exist in both sets

In [24]:
set1 = {1,4,2,16}
set2 = {1, 2, 3,4}

set1.difference_update(set2)

print(set1)

{16}

In [25]:
#intersection():returns a set that contains the similarity between two or more sets

In [26]:
set1 = {1,4,9,16}
set2 = {1, 2, 3}

set3 =set1.intersection(set2)
print(set3)

{1}

In [28]:
#intersection_update() :removes the items that is not present in both sets

In [29]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x.intersection_update(y, z)

print(x)

{'c'}

In [30]:
#issubset():returns True if all items in the set exists in the specified set, otherwise it retuns False

In [31]:
set1 = {1,4,9,16}
set2 = {1, 9}

set3 =set1.issubset(set2)
print(set3)

False

In [32]:
#issuperset() :returns True if all items in the specified set exists in the original set, otherwise it retuns False

In [33]:
set1 = {1,4,9,16}
set2 = {1,2, 9}

set3 =set1.issuperset(set2)
print(set3)

False

In [34]:
#isdisjoint():returns True if none of the items are present in both sets, otherwise it returns False

In [39]:
set1 = {1,4,9,16}
set2 = {11,2, 19}

set3 =set1.isdisjoint(set2)
print(set3)

True

In [37]:
#symmetric_difference() :returns a set that contains all items from both set, but not the items that are present in both sets

In [40]:
set1 = {1,4,9,16}
set2 = {1,2, 9}

set3 =set1.symmetric_difference(set2)
print(set3)

{2, 4, 16}

In [41]:
#symmetric_difference_update():updates the original set by removing items that are present in both sets, 
#and inserting the other items

In [43]:
set1 = {1,4,9,16}
set2 = {1,2, 9}

set1.symmetric_difference_update(set2)
print(set1)

{2, 4, 16}